# Database
DB_HOST=localhost
DB_PORT=5433
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=postgres

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# Gateway (for inter-service auth)
GATEWAY_SHARED_SECRET=your-secret-key-here
